body {
    background-image: url(./images/forest.jpg);
    display: flex;
}

#board {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    vertical-align: center;
    height: 94vh;
    float: right;
    margin-top: 2vh;
    margin-right: 3vh;
    border: solid 3px #62562f;
    border-radius: 5px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.80) !important;

}

#controllers {
    width: 25%;
    height: 98vh;
    margin-top: 1vh;
    margin-left: 3vh; 
}

#cavemanRedController, #cavemanBlueController {
    /* background: #efeadd; */
    background-color: rgb(230, 230, 230);

    height: 46vh;
    border: solid 3px #62562f;
    border-radius: 15px;
    margin-top: 1vh;
}

button:hover {
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.25);
    transition: 0.15s;   
}

.cavemanRedControllerPicture {
    background-image: url(./images/caveman_red.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-basis: 150px;
    height: 150px;
}

.cavemanBlueControllerPicture {
    background-image: url(./images/caveman_blue.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-basis: 150px;
    height: 150px;
}

.pictureAndWeaponContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3vh;
}

#cavemanRedAttackAndDefendContainer, #cavemanBlueAttackAndDefendContainer {
    visibility: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3vh;
}

.healthBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cavemanRedAttack, .cavemanRedDefend, .cavemanBlueAttack, .cavemanBlueDefend {
    /* margin-top: 7vh;
    margin-left: 3vh; */
    height: 6vh;
    flex-basis: 20vh;
    background-color: white;
    border: solid 3px #3b331c;
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    font-size: 1.5em;
    letter-spacing: .15em;
    color: #3b331c;
}

#cavemanRedWeapon, #cavemanBlueWeapon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
    flex-basis: 100px;
}

#playerOneHealth, #playerTwoHealth {
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    font-size: 1em;
    letter-spacing: .05em;
    color: #3b331c;

}

.cell {
    display: inline-block;
    /* background-color: #efeadd; */
    background-color: rgb(230, 230, 230);

    height: 100%;
    border: solid 1px #62562f;
    box-sizing: border-box;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.possibleMove {
    background-color: rgb(158, 158, 158);
    transition: .2s;
}

.wall {
    background-color: black;
    background-image: url(./images/tree.jpg);
}

.defaultWeapon {
    background-image: url(./images/rock_transparent.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.fire {
    background-image: url(./images/fire_transparent.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rock {
    background-image: url(./images/rock_transparent.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.stick {
    background-image: url(./images/stick_transparent.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.spear {
    background-image: url(./images/spear.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.mammoth {
    background-image: url(./images/mammoth_transparent.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cavemanRed {
    background-image: url(./images/caveman_red.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cavemanBlue {
    background-image: url(./images/caveman_blue.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* .activePlayer {
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.80) !important;
    border: solid 3px #36ad19 !important;
    transition: 0.3s;
} */

.cavemanRedBoardColor {
    border: solid 3px rgb(184, 0, 0) !important;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.80) !important;

}

.cavemanBlueBoardColor {
    border: solid 3px rgb(4, 129, 231) !important;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.80) !important;

}
